body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  padding: 23px;
  border: 200px solid purple;
  background-color: powderblue;
  text-align: center;
  margin: auto;
  transition: all 5s ease-in .1s;
  
}
h1:hover{
  transition: all .5s ease-in-out ;
  transform: rotate(20deg) scale(1.5) skew(10deg);
}
button{
  margin:auto;
}